$magenta:hsl(300, 43%, 22%);
$pink:hsl(333, 80%, 67%);
$Dark-Grayish-Magenta: hsl(303, 10%, 53%);
$Light-Grayish-Magenta: hsl(300, 24%, 96%);
$white:hsl(0, 0%, 100%);

$paragraph:0.9rem;



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  font-family: 'League Spartan', sans-serif;
  display: grid;
  place-content: center;

}
img{
  max-width: 100%;
}

.container{
  max-width: 768px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
}

.title{
  text-align: center;
  
  h1{
    
    font-size: 2.5rem;
    color:$magenta;
    margin-bottom: 1.5rem;
    
  }
  p{
    
    font-weight: 500;
    color:$magenta;
    line-height: 130%;
  }
}
.ratings-wrapper{
  margin-top:2rem ;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
  text-align: center;
  width: 100%;
    
  .rating{
    border-radius: 0.5rem;
    background-color: $Light-Grayish-Magenta;
    padding: 0.8rem 0;
  }

  p{
    color: $magenta;
    font-weight: 700;
    font-size: $paragraph;
    margin-top: 0.2rem;
  }

}
.cards-wrapper{
  margin-top: 3rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
  
  p{
    color:$white;
    line-height: 1.4;
    font-size: $paragraph;
    
  }
}
.card{
  background-color: $magenta;
  border-radius: 0.5rem;
  padding: 1.5rem;

    img{
      width: 2rem;
      border-radius: 50%;
      margin-right: 1rem;
      }
   

      .profile{
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;
          p{
            font-weight: 700;
            
          }
          span{
            color:$pink;
            font-size: 0.8rem;
            font-weight: 400;
            
          }  

      }
  
  
}
@media(min-width:968px){

  .container{
    background-image: url(images/bg-pattern-top-desktop.svg);
    
   
    background-repeat: no-repeat;
    max-width: 1140px;
    display: grid;
    gap:2rem 5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
  }
  .title{
    text-align: left;
    
    
    h1{
      width: 90%;
      font-size: 2.5rem;
      font-weight: 800;
      line-height: 1.1;
      
    }
    p{
      font-weight: 500;
      font-size: 1.125rem;
    }
    
  }
    .ratings-wrapper{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      min-height: 180px;
      
      
      .rating{
        display: flex;
        justify-content: space-around;
      }
      
      

      .rating1{
        align-self: flex-start;
        width: 80%;
        
        
      }
      .rating2{
        align-self:center;
        width: 80%;
        
      }
      .rating3{
        align-self:flex-end;
        width: 80%;
        
      }
    }



  .cards-wrapper{
    display: flex;
    flex-direction: row;
    min-height: 230px;
    grid-area: 2/1/2/3;

    
  
  .card1{
    align-self: flex-start;
  }
  .card2{
    align-self: center;
  }
  .card3{
    align-self: flex-end;
  }
}

}











